@import url("./styles/fonts.css");
@import url("./styles/principal.css");

@import url("./styles/nav.css");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #949494;
  height: 300vh;
  font-family: "Alegreya SC", serif;
}

a {
  text-decoration: none;
  color: #949494;
}

header {
  width: 75%;
  margin: auto;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("./img/tellers_restaurant_and_bar__lawrence_kansas-wallpaper-1280x800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  color: #dedede;

  font-family: "Alegreya SC", serif;
}

header nav {
  width: 30%;
  height: 75px;

  display: flex;
  justify-content: center;

  margin: auto;
  background-color: rgba(0, 0, 0, 0.596);
  position: absolute;
  top: 0%;
}

header nav div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid #dedede56;
  border-top: none;

  height: 90%;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.596);
}

header nav a {
  text-decoration: none;
  color: #dedede;
  font-size: 22px;
}

header div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 24px;
}

header div h3 {
  margin-top: -5px;
}

header img {
  margin-top: 50px;
  width: 300px;
}

div#info {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  top: 10%;
  height: 50px;
  width: auto;

  font-weight: normal;
  color: #cecece;
  font-size: 18px;
}

div#info * {
  padding: 0;
  margin: 0;
}

div#info p#telefone::before,
div#info p#telefone::after {
  content: "";
  display: inline-block;
  width: 45px;
  height: 1px;
  background: #cecece;
  margin: 0px 15px 3px 15px;
}

#cardapio {
  margin: 20px auto;
  text-align: center;
}

#cardapio hr {
  border: 0.5px solid #5e5d5d73;
  width: 75%;
}

#cardapio h1 {
  color: #5e5d5d;
  font-family: "Italianno", cursive;
  font-size: 54px;
  margin: 0;
  font-weight: lighter;
}

#cardapio ul {
  display: grid;
  grid-template-columns: auto auto;
  width: 75%;
  grid-column-gap: 20px;
  margin: auto;
  padding: 0;
}

#cardapio ul * {
  padding: 0;
  margin: 0;
}

#cardapio ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 0.5px dotted #5e5d5d15;
  margin: 10px auto;
}

#cardapio ul div.item {
  width: 70%;
  text-align: left;
}

#cardapio ul div.item p {
  color: #5e5d5d;
  font-size: 14px;
}

#cardapio ul div.preco {
  width: 30%;
}

@media screen and (max-width: 1200px) {
  header nav {
    width: 50%;
  }
  #cardapio ul div.preco {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 75vh;
  }

  header img {
    width: 250px;
  }

  header nav {
    width: 90%;
    margin-bottom: 20px;
  }
  #cardapio ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #cardapio ul li {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  div#info p#telefone::before,
  div#info p#telefone::after {
    width: 25px;
  }
}

#galeria hr {
  border: 0.5px solid #5e5d5d73;
  width: 75%;
}

#galeria h1 {
  color: #5e5d5d;
  font-family: "Italianno", cursive;
  font-size: 54px;
  margin: 0;
  font-weight: lighter;
  text-align: center;
}

#galeria {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#galeria .gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  max-width: 1500px;
}

#galeria .img-box {
  box-sizing: content-box;
  margin: 10px;
  overflow: hidden;
  display: flex;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.596);
}

#galeria .gallery-image .image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#galeria .gallery-image .image-1 {
  background-image: url("./img/img1.jpg");
  background-size: contain;
}
#galeria .gallery-image .image-2 {
  background-image: url("./img/img2.jpg");
  background-size: contain;
}
#galeria .gallery-image .image-3 {
  background-image: url("./img/img3.jpg");
  background-size: contain;
}
#galeria .gallery-image .image-4 {
  background-image: url("./img/img4.jpg");
  background-size: contain;
}
#galeria .gallery-image .image-5 {
  background-image: url("./img/img5.jpg");
  background-size: contain;
}
#galeria .gallery-image .image-6 {
  background-image: url("./img/img6.jpg");
  background-size: contain;
}

#galeria .gallery-image .filter {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.178);

  display: flex;
  align-items: center;
  justify-content: center;
}

#galeria .gallery-image .filter:hover {
  background-color: rgba(0, 0, 0, 0.578);
}

#galeria .gallery-image .filter a {
  border: 1px solid rgb(189, 189, 189);
  background-color: rgba(139, 139, 139, 0.5);
  color: rgb(189, 189, 189);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}

#galeria .gallery-image .filter:hover a {
  top: 0px;
  opacity: 1;
}

#galeria #instagram {
  width: 400px;
  margin: 20px auto 0px;
  border: 1px solid rgb(189, 189, 189);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#galeria #instagram img {
  margin-right: 15px;
}

#galeria #instagram h2 {
  font-weight: normal;
}
@media screen and (max-width: 500px) {
  #galeria .gallery-image {
    width: 100%;
    padding: 20px 0px;
  }

  #galeria .gallery-image .img-box img {
    margin: auto;
    width: 80%;
  }

  #galeria #instagram {
    width: 80%;
  }
}

#sobre hr {
  border: 0.5px solid #5e5d5d73;
  width: 75%;
}

#sobre h1 {
  color: #5e5d5d;
  font-family: "Italianno", cursive;
  font-size: 54px;
  margin: 0;
  font-weight: lighter;
  text-align: center;
}

#sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

#sobre .mapBox {
  height: 350px;
  margin-top: 40px;
  width: 80%;
  margin-bottom: 40px;
}

#sobre .mapBox iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 2000px) {
  #sobre .mapBox {
    height: 800px;
  }
}

#back-to-top {
  border: 1px solid #4d4d4d;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #4d4d4db6;
  top: 90%;
  left: 80%;
  transition: 2s;

  visibility: hidden;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.29);
}

#back-to-top img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

@media screen and (max-width: 500px) {
  #back-to-top.show {
    visibility: visible;
    opacity: 1;
  }
}

footer {
  text-align: center;
}
